@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
.logo img {
  width: 90px;
}
#main {
  width: 100%;
  height: 768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./Images/banner.png");
  position: relative;
  z-index: 0;
}
#main::before {
  position: absolute;
  content: "";
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(181, 8, 8, 0.38) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(181, 8, 8, 0.38) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(181, 8, 8, 0.38) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
nav.active {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
  background-color: #000000;
}
nav ul {
  display: flex;
}
.active {
  background-color: #ff1414;
  color: #f5f4f4;
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition: all ease 0.2s;
}
.active:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition: all ease 0.2s;
}
nav ul li a {
  font-family: "Lato";
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
nav ul li a:hover {
  background-color: #ff1414;
  color: #ffffff;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
  transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon {
  display: none;
}
.name {
  text-align: center;
  font-family: "Montserrat";
  width: 900px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%);
}
.name span {
  color: #ff1414;
}
.name .details {
  font-size: 23px;
  color: #c5c5c5;
}
.name h2 {
  font-family: "Lato";
  font-size: 2.7rem;
  margin: 0px;
  letter-spacing: 2px;
  color: #ffffff;
}
.name h1 {
  font-family: "Lato";
  font-size: 5rem;
  margin: 0px;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-btns {
  display: flex;
  margin-top: 40px;
  margin-left: 40%;
}
.header-btn {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #ff1414;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
  border-radius: 5px;
  color: #ffffff;
}
.header-btn:hover {
  background-color: transparent;
  transition: all ease 0.5s;
  color: #ffffff;
  border: 2px solid #ff1414;
}

#features {
  width: 100%;
  height: 120vh;
  box-sizing: border-box;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background-color: #f8f1f1;
}
@media (max-width: 700px) {
  #features {
    padding-left: 50%;
    padding-right: 50%;
  }
}

#features h1 {
  color: #040404;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 50px;
}
@media (max-width: 768px) {
  #features h1 {
    color: #040404;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
  }
}
.a-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.a-box {
  width: 250px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;

  position: relative;

  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}
.a-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
.a-box-s {
  width: 250px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;

  position: relative;

  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}
.a-box-s:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
.a-b-img {
  width: 100%;
  height: 60%;
}
.a-b-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.a-b-img-s {
  width: 100%;
  height: 60%;
}
.a-b-img img {
  padding: 2px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
}
.a-b-img-s img {
  padding: 2px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 252, 252);
}
.a-box:hover {
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
}
.a-box-s:hover {
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
}
@media (max-width: 768px) {
  .a-box:hover {
    transition: 0.4s ease-in-out;
    box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
  }
  .a-box-s:hover {
    transition: 0.4s ease-in-out;
    box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
  }
}
.a-b-text {
  width: 100%;
  height: 40%;
  background-color: #503232;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  flex-direction: column;
}
.a-b-text-s {
  width: 100%;
  height: 100%;
  background-color: #503232;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  flex-direction: column;
}
.a-box1 {
}
.a-b-text h2 {
  color: #3e2323;
}
.a-b-text p {
  margin: 0px;
  color: #000000a6;
  font-size: 1.1rem;
  font-family: "Lato";
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 5px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.col-sm-5 .a-b-text a {
  margin-top: 15px;
}
#presentaion {
  padding-top: 30px;
  width: 100%;
  height: 768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(Images/offer.png);
  text-align: center;
  margin-top: 100px;
}

.pr-heading {
  text-align: center;
  font-family: "Lato";
  width: 600px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%);
}
.pr-heading span {
  color: #ff1414;
}
.pr-heading .details {
  font-size: 23px;
  color: #c5c5c5;
}
.pr-heading .details {
  font-size: 1.2rem;
}
.pr-heading h1 {
  font-family: "Lato";
  font-size: 4rem;
  margin: 0px;
  letter-spacing: 2px;
  color: #ffffff;
}
.pr-btns {
  display: flex;
  margin-top: 40px;
  margin-left: 35%;
}
.pr-btn {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #ff1414;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
  border-radius: 5px;
  color: #ffffff;
}
.pr-btn:hover {
  background-color: transparent;
  transition: all ease 0.5s;
  color: #ffffff;
  border: 2px solid #ff1414;
}

#about {
  margin-top: 100px;
  width: 100%;
  height: 120vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
}

.about-text {
  width: 45%;
  color: #fff;
  list-style: circle;

  height: 100%;
  margin-top: 170px;
}
.about-text h1 {
  font-size: 3rem;
  color: #ff1414;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
.about-text p {
  width: 80%;
  font-size: 1.2rem;
  color: #cecece;
}
.btn-read-more {
  margin-top: 0px;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #413b99;
}
.btn-read-more {
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 100px;
  color: rgb(0, 0, 228);
}

.btn-read-more:hover {
  background-color: none;
  outline: none;

  color: rgb(0, 40, 159);
}

.btn-read-less {
  margin-top: 0px;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #413b99;
}
.btn-read-less {
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 100px;
  color: red;
}

.btn-read-less:hover {
  background-color: none;
  outline: none;

  color: rgb(183, 2, 2);
}

.about-image {
  width: 50%;
}
.about-image img {
  width: 600px;
}

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

#contact h1 {
  color: #020202;
  font-size: 3rem;
}
#contact form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#contact form input,
#contact form textarea {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  border: none;
  outline: 1px solid red;
  background-color: #ffffff2d;
  color: #000000;
  border-radius: 5px;
}
#contact form button,
#contact form textarea {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  border: none;
  outline: 1px solid red;
  background-color: #ffffff2d;
  color: #000000;
  border-radius: 5px;
}
#contact form textarea {
  height: 150px;
}
#contact form button[type="submit"] {
  height: 45px;
  background: linear-gradient(90deg, #ff1414 20%, #f70000);
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  #contact form {
    width: 90%;
  }
}

@media (max-width: 1190px) {
  #main {
    background-size: 1150px !important;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .name h2 {
    font-size: 1.5rem;
  }
  .name h1 {
    font-size: 3rem;
  }
  .name .details {
    font-size: 1rem;
  }
  .pr-heading {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .pr-heading h2 {
    font-size: 1.5rem;
  }
  .pr-heading h1 {
    font-size: 3rem;
  }
  .pr-heading .details {
    font-size: 1rem;
  }
  .about-image img {
    height: 400px;
  }
  #features {
    height: auto;
  }
  .a-container {
    flex-wrap: wrap;
  }
  .a-box {
    flex-grow: 1;
  }
  .a-box-s {
    flex-grow: 1;
  }
  .a-b-img img {
    object-fit: contain;
  }
  .a-b-img-s img {
    object-fit: contain;
  }
}

@media (max-width: 970px) {
  #main {
    height: 650px;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .pr-heading {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about-image {
    display: none;
  }
  .header-btn {
    margin-left: 20%;
    margin-top: 20px;
  }
  .pr-btn {
    margin-left: 20%;
    margin-top: 20px;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
    text-align: center;

    margin-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 3rem;
  }
  .about-text p {
    width: 100%;
  }
  #features {
    margin-bottom: 100px;
  }
}
@media (max-width: 700px) {
  .name {
    width: 60%;
  }
  .pr-heading {
    width: 60%;
  }
  .a-b-img img {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    background-color: #c6cbbb;
  }
  .a-b-img-s img {
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .a-b-img img {
    background-color: rgb(247, 247, 247);
    margin-top: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media (max-width: 1000px) {
  .name {
    width: 70%;
  }
  .pr-heading {
    width: 70%;
  }
  .a-b-img img {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }
  .a-b-img-s img {
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1100px) {
  .menu-icon {
    display: block;
  }
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .logo img {
    width: 70px;
  }
  .header-btns {
    margin: 0;
  }
  .pr-btns {
    margin: 0;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #000000;
    border-bottom: 4px solid #ff1414;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 24px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 6px;
  }
  nav .menu-icon .nav-icon:after {
    top: -6px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}

.name-button-s-description {
  font-family: "Fira Sans", sans-serif;
  padding-left: 30px;
  padding-top: 5px;
}
.str-name-desc {
  color: rgb(255, 255, 255);
}
@media (max-width: 1000px) {
  .a-box {
    width: 90%;
    height: 350px;
  }

  .a-box-s {
    width: 90%;
    height: 290px;
    margin-top: 20px;
    border: 1px solid rgb(177, 155, 155);
  }
}

@media (min-width: 1000px) {
  .a-box {
    width: 90%;
    height: 400px;
  }
  .a-box-s {
    width: 85%;
    height: 350px;
  }
}
@media (min-width: 1000px) {
  .slider {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 1200px;
    margin-top: 20px;
  }
  .slider-s {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 1200px;
    margin-top: 20px;
  }

  .str-name-desc-s {
    font-size: 0.7rem;
  }
}

@media (max-width: 450px) {
  .slider {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 20rem;
    margin-top: 20px;
  }
  .slider-s {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 20rem;
    margin-top: 20px;
  }
}
@media (min-width: 450px) and (max-width: 700px) {
  .slider {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 25rem;
    margin-top: 20px;
  }
  .slider-s {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 25rem;
    margin-top: 20px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .slider {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 40rem;
    margin-top: 20px;
  }
  .slider-s {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 40rem;
    margin-top: 20px;
  }
}
.name-button {
  background-color: #c7f739;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Fira Sans", sans-serif;
}
.name-button-s {
  background-color: #c7f739;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 5px;
  font-family: "Fira Sans", sans-serif;
}
.name-button-a {
  background-color: #c7f739;
  border-radius: 20px;
  margin-left: 20px;

  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
}
.str-name {
  padding: 5px;
}
.str-name-d {
  padding: 1px;
  background-color: #000000;
}
.str-name-s {
  padding: 5px;
}
.str-name-s-d {
  padding: 1px;
}
.str-name-desc {
  text-align: center;
}

@media (max-width: 768px) {
  .str-name {
    font-size: 0.7rem;
  }
  .str-name-s {
    font-size: 0.5rem;
  }
  .str-name-desc {
    font-size: 0.9rem;
  }
}

.a-b-text-s-div {
  display: inline-flex;
}
@media (max-width: 768px) {
  .str-name-s {
    font-size: 0.5rem;
  }

  .name-button-s {
    background-color: #14b780;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 10px;
    font-family: "Fira Sans", sans-serif;
  }
  .name-button {
    background-color: #c7f739;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Fira Sans", sans-serif;
  }
  .name-button-s-description {
    margin-top: 5px;
    font-family: "Fira Sans", sans-serif;

    padding-left: 30px;
  }
}
.name-button-s-description-s {
  font-size: 0.5rem;
  margin-left: 10px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .str-name-s {
    font-size: 0.7rem;
  }
  .str-name-desc {
    font-size: 1rem;
  }

  .name-button-s {
    background-color: #14b780;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 6px;
    font-family: "Fira Sans", sans-serif;
  }
  .name-button {
    background-color: #c7f739;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 5px;
    font-family: "Fira Sans", sans-serif;
  }
  .name-button-s-description {
    margin-top: 5px;
    font-family: "Fira Sans", sans-serif;
  }
}
.str-name-desc-s {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
#search_main {
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}
#search_main h1 {
  padding: 50px;
}
#search_main input {
  outline: none;
  border-radius: 50px;
  padding: 10px;
  width: 50%;
  border: 2px solid red;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-button {
  background-color: rgb(201, 154, 154);
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  margin-left: 10px;
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #ececec;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
@media (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #ececec;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #ececec;

    background: #6eb59d;
  }
  .grid-item {
    background-color: #ececec;
    margin-left: -50px;
    background: #6eb59d;
  }
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}
#about p {
  color: rgb(78, 54, 54);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  margin-top: 20px;
}

#about h5 {
  color: rgb(7, 121, 62);
  font-weight: bold;
}

#about span {
  color: red;
  font-size: 1.5rem;
}
.offer_div {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.offer_div .form-text {
  height: 110%;
  background-color: #f2f2f2;

  top: 0%;
  left: 0%;
  position: fixed;

  border-radius: 20px;
  height: 25rem;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(74, 61, 61, 0.6);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
@media (min-width: 400px) and (max-width: 600px) {
  .offer_div .form-text {
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .offer_div .form-text {
    height: 120%;
  }
}
@media (min-width: 1200px) {
  .offer_div .form-text {
    height: 140%;
    margin-top: -50px;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .offer_div .form-text {
    height: 130%;
  }
}

.offer_div input {
  border-bottom: 1px solid rgb(3, 90, 97);
  background-color: red;
  background: rgb(240, 213, 213);
  width: 60%;
  background-color: #f2f2f2;
}

.offer_div button {
  color: rgb(238, 227, 227);
  background-color: rgb(15, 39, 57);
  border-radius: 5px;
}
.offer_div h5 {
  color: black;
  margin-top: 0px;
  font-weight: 500;
  font-weight: bold;
}
.offer_div p {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 10px;
  color: #000000;
}
.offer_div p button {
  background-color: #472b2b;
}

.user_box {
  margin-top: 10px;
}
.offer_div .user_box .label_upper {
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: inherit;
  left: 0;
  pointer-events: none;

  align-items: left;
  text-align: left;
  width: 50%;
  background-color: #f2f2f2;
  display: block;
  justify-content: center;
  margin-left: 20%;
  color: rgb(11, 113, 113);
  font-weight: bold;
}
.offer_div .user_box span {
  color: rgb(34, 95, 82);
}
.offer_div .error {
  color: red;
}
@media (max-width: 768px) {
  .offer_div .error {
    font-size: 0.5rem;
  }
}
@media (min-width: 768px) {
  .offer_div .error {
    font-size: 0.9rem;
  }
}
